body{
    background-color: #e6e6e6;

    
}


/* Heading */
h1{
    font-family: darkmode-off, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
}

/* Sub-Heading */
h2{
    font-family: darkmode-off, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

/* Body */

/* Caption */

/* Quote */